.project {
    padding: 55px;

    img {
        height: auto;
        width: 100%;
    }

    Button {
        font-family: "Quicksand";
        font-weight: 600;
    }

    h3 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    p {
        padding-bottom: 0.5rem;
    }
}
