.contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        list-style-type: none;
    }
}

.bio {

    p {
        margin-top: -4px;
    }
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 210px;
    padding-right: 255px;
    padding-top: 40px;

    a {
        text-decoration: underline;
    }
}

