.contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        padding: 5rem 0 0 0;

    h2 {
        padding-bottom: 2rem;
    }

    ul {
        display: flex;
        // justify-content: center;
        // align-items: center;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-style: dotted;
        text-underline-offset: 0.3em;
    }
}

// .bio {

//     p {
//         margin-top: -4px;
//     }
    
// }


.headshot {
    width: 300px;
    height: 350px;
    object-fit: scale-down;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // padding-left: 210px;
    // padding-right: 255px;
    // padding-top: 15px;
    padding: 4% 11% 5% 11%;
    // padding: 2rem 11rem 3rem 11rem;
    font-weight: 600;

    a {
        text-decoration: underline;
    }

    figcaption > p {
        padding-left: 2rem;
    }

    @media (max-width: 960px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        figure {
            padding-top: 5%;
        }

        figcaption > p {
            padding-left: 0%;
            padding-top: 10%;
        }
    }
}



