.contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        padding: 2.5rem 0 0 0;

    h2 {
        padding-bottom: 2rem;
    }

    ul {
        display: flex;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-style: dotted;
        text-underline-offset: 0.3em;
    }

    @media (max-width: 960px) {
        ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;            
        }

        li {
            padding-bottom: 0.5rem;
        }

        .spacer {
            display: none;
        }
    }
}

.headshot {
    width: 300px;
    height: 350px;
    object-fit: scale-down;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4% 11% 3% 11%;
    font-weight: 600;

    .titleSpacing {
        padding-bottom: 0.3rem;
        font-weight: 600;
    }

    p {
        font-weight: 500;
    }

    a {
        text-decoration: underline;
    }

    figcaption {
        padding-left: 2rem;
    }

    @media (max-width: 960px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        figure {
            padding-top: 5%;
        }

        .headshot {
            width: 200px;
            height: 250px;
            object-fit: scale-down;
        }
        
        figcaption {
            padding-top: 10%;
            padding-left: 0%;

        }
    }
}



