.greeting {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        line-height: 1.5;
        font-size: 1.25rem;
    }

    Button {
        font-family: "Quicksand";
        font-weight: 600;
    }
}

.bg {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.intro {
    background-color: #232741;
}